/*-----------------------------------------------------------------
    Importação das fontes
*/

/*-------------------------------------
      Importação da fonte Inter
  */

@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter/Inter-Regular.ttf');
}

@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter/Inter-Thin.ttf');
  font-weight: 100;
}
@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter/Inter-ExtraLight.ttf');
  font-weight: 200;
}
@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter/Inter-Light.ttf');
  font-weight: 300;
}
@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter/Inter-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter/Inter-Medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter/Inter-SemiBold.ttf');
  font-weight: 600;
}
@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter/Inter-Bold.ttf');
  font-weight: 700;
}
@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter/Inter-ExtraBold.ttf');
  font-weight: 800;
}
@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter/Inter-Black.ttf');
  font-weight: 900;
}

/*-----------------------------------------------------------------
    Estilo base
*/

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

* {
  font-family: 'Inter';
  font-weight: 400px;
  font-size: 24px;
  color: #0a093d;
}

.btn {
  display: inline-block;

  height: 71px;

  text-decoration: none;
  border: none;
  border-radius: 16px;
}

/*-----------------------------------------------------------------
    Estilo das colunas
*/

/*-------------------------------------
      Estilo das colunas 1 de 6
  */
.container-1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 2fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  background-image: url(../images/fundo-desk.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;

  height: auto;
  width: auto;
}

.col-1 {
  grid-area: 1 / 1 / 2 / 3;

  padding: 35px 0;
}
.col-2 {
  grid-area: 2 / 1 / 3 / 2;

  padding: 0 70px 70px 70px;
}
.col-3 {
  grid-area: 2 / 2 / 3 / 3;
}
.col-4 {
  grid-area: 3 / 1 / 4 / 3;

  overflow: hidden;
}

/*-------------------------------------
      Estilo dos elementos da coluna 1
  */

/*--------------------------
      Logo
  */
.logo-1 {
  text-align: center;
  max-height: 120px;
}

/*--------------------------
      Texto e título
  */

.tituloPrincipal {
  font-size: 60px;
  font-weight: 700;
}

.tituloPrincipal > span {
  font-size: 60px;
  background-color: #c9f0ff;
}

.tituloPrincipal > .texto {
  font-size: 24px;
  color: #413f3f;
}

/*--------------------------
     Modal
  */
.containerModal {
  width: 1440px;
  height: 160px;
  position: relative;

  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(217, 217, 217, 0.5);
  box-sizing: border-box;
  box-shadow: 1px 4px 4px rgba(218, 218, 218, 0.25);
  backdrop-filter: blur(11px);
}

.containerModal > div {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.modal-1 {
  display: flex;
  justify-content: space-between;
  position: relative;

  padding: 0 190px;
}

.textoModal {
  font-weight: 400;
}

.textoModal > span {
  font-weight: 700;
}

/*--------------------
      Botões do modal
    */

.btnAzul {
  width: 330px;
  max-width: 330px;

  background: #217bf4;
  color: #ffffff;
}

.btnTransparente {
  width: 206px;
  max-width: 206px;

  background-color: transparent;

  border: 1.5px solid #217bf4;
  color: #217bf4;
}

/*-------------------------------------
      Estilo das colunas 2 de 6
  */
.container-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 180px;

  padding: 270px 30px 270px 108px;
}

.col-5 {
  grid-area: 1 / 1 / 2 / 2;
}
.col-6 {
  grid-area: 2 / 1 / 3 / 2;
}
.col-7 {
  grid-area: 1 / 2 / 3 / 3;
}

/*--------------------------
     Textos
  */
.col-5 > h4 {
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;

  color: #217bf4;
}

.col-5 > h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;

  color: #0a093d;
}

.col-6 > p {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;

  color: #413f3f;
}
/*--------------------------
     Imagem
  */

.col-7 > img {
  width: 802px;
  height: 595px;
}

/*-------------------------------------
      Estilo das colunas 3 de 6
  */

.container-3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  padding: 60px 176px;
  align-items: center;

  background: linear-gradient(
    0deg,
    rgba(241, 246, 253, 0) 1.63%,
    #f1f6fd 20.5%,
    #f1f6fd 58.57%,
    #ffffff 100%
  );
}

.col-8 {
  grid-area: 1 / 1 / 2 / 3;

  align-items: center;
}
.col-9 {
  grid-area: 2 / 1 / 4 / 3;

  display: flex;
  flex-wrap: wrap;

  align-items: center;
}

/*--------------------------
     Textos
  */
.col-8 {
  align-items: center;
}
.col-8 > h5 {
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  text-align: center;

  color: #217bf4;
}
.col-8 > h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  text-align: center;

  color: #0a093d;
}
.col-8 > h6 {
  font-size: 16px;
  line-height: 28px;

  text-align: center;

  color: #656464;
}

/*--------------------------
     Cards
  */

.card {
  display: flex;

  margin: 0px 0px 44px 0px;
  vertical-align: middle;

  width: 522px;
  height: 182px;
  max-width: 522px;
  max-height: 182px;

  background: #ffffff;
  box-shadow: 14px 22px 52px -12px rgba(127, 127, 127, 0.13);
  border-radius: 14px;
}

.card:nth-child(even) {
  margin: 0px 0px 44px 44px;
}

.card > .textos {
  padding: 15px 0 0 15px;
}

.card > .textos > h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 26px;

  color: #2f2c4a;
}

.card > .textos > p {
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;

  color: #656464;
}

.card > .icone {
  padding: 25px 0 0 20px;
}

/*-------------------------------------
      Estilo das colunas 4 de 6
  */

.container-4 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  padding: 350px 0px 350px 167px;
}

.col-10 {
  grid-area: 1 / 1 / 2 / 2;

  padding: 80px 0px 0px 0px;
}
.col-11 {
  grid-area: 1 / 2 / 2 / 3;
}

/*--------------------------
     Textos
  */
.col-10 > h5 {
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;

  color: #217bf4;
}
.col-10 > h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;

  color: #0a093d;
}
.col-10 > p {
  font-size: 16px;
  line-height: 28px;

  color: #656464;
}
/*--------------------------
     Imagem
  */

.col-11 > img {
  height: 570px;
}

/*-------------------------------------
      Estilo das colunas 5 de 6
  */

.container-5 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  padding: 0px 183px 0px 0px;

  height: 560px;

  background: #e5f0fd;
}

.col-12 {
  grid-area: 1 / 2 / 2 / 3;
}
.col-12 {
  grid-area: 1 / 1 / 2 / 2;
}

/*--------------------------
     Imagem
  */

.col-12 > img {
  height: 560px;
}

/*--------------------------
     textos
  */

.col-13 > h5 {
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  text-align: right;

  color: #217bf4;
}
.col-13 > h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 52px;

  text-align: right;

  color: #0a093d;
}
.col-13 > p {
  font-size: 16px;
  line-height: 26px;
  /* or 162% */

  text-align: right;

  color: #656464;
}

/*--------------------
    Imagens das lojas de app
    */

.col-13 > div {
  display: flex;

  justify-content: flex-end;
}

.col-13 > div > img {
  width: 144.97px;
  height: 52px;

  margin: 0px 0px 0px 35px;

  filter: drop-shadow(0px 0px 22px rgba(178, 188, 208, 0.21));
  border-radius: 6px;
}

/*-------------------------------------
      Estilo das colunas 5 de 6
  */
.container-6 {
  display: flex;
  flex-direction: row;

  padding: 280px 0 265px 0;

  justify-content: center;
  align-items: center;
}
/*--------------------------
     Modal
  */
.modal-2 {
  width: 976px;
  height: 460px;

  flex-direction: column !important;
  justify-content: space-around !important;

  background: linear-gradient(154.49deg, #5ca1fe 6.61%, #217bf4 89.72%), #217bf4;
  border-radius: 20px;
}
/*--------------------
    Textos
    */

.texto {
  align-items: center;
  text-align: center;
}

.texto > h2 {
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;

  text-align: center;

  color: #ffffff;
}

.texto > h6 {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;

  text-align: center;
  letter-spacing: 0.01em;

  color: rgba(255, 255, 255, 0.83);
}

/*--------------------
    Inputs
    */
.input {
  margin: 44px 31px;
}

.input > div {
  display: flex;

  position: relative;

  width: 888px;
  height: 112px;

  margin-bottom: 26px;

  border-radius: 20px;
  border: none;
}

.input > input[type='email'] {
  width: 868px;
  height: 52px;

  top: 0;

  padding: 0px 20px !important;
  margin-bottom: 13px;

  color: #ffffff;

  background: #231a36;
  border: none;
  border-radius: 18px;

  font-weight: 400;
  font-size: 16px;
  line-height: 28px;

  letter-spacing: 0.01em;

  color: rgba(255, 255, 255, 0.83);
}

::-webkit-input-placeholder {
  font-style: 400 !important;
  font-weight: 500 !important;
  font-size: 15px !important;
  line-height: 18px !important;

  color: #fffaf9 !important;
}

.input > div > textarea {
  width: 868px;

  padding: 17px 18px 0px 20px !important;
  margin-bottom: 26px;

  position: absolute;
  z-index: 1;

  color: #ffffff;

  background: #231a36;
  border-radius: 20px;
  border: none;

  font-weight: 400;
  font-size: 16px;
  line-height: 28px;

  letter-spacing: 0.01em;

  color: rgba(255, 255, 255, 0.83);
}

.sendButton {
  bottom: 0;
  right: 0;

  position: absolute;
  z-index: 2;

  background: none;
}
