/*-----------------------------------------------------------------
    Importação das fontes
*/

/*-------------------------------------
      Importação da fonte Inter
  */

@font-face {
  font-family: 'Inter';
  src: url(../assets/fonts/Inter/Inter-Regular.ttf);
}

@font-face {
  font-family: 'Inter';
  src: url(../assets/fonts/Inter/Inter-Thin.ttf);
  font-weight: 100;
}
@font-face {
  font-family: 'Inter';
  src: url(../assets/fonts/Inter/Inter-ExtraLight.ttf);
  font-weight: 200;
}
@font-face {
  font-family: 'Inter';
  src: url(../assets/fonts/Inter/Inter-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: 'Inter';
  src: url(../assets/fonts/Inter/Inter-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: 'Inter';
  src: url(../assets/fonts/Inter/Inter-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: 'Inter';
  src: url(../assets/fonts/Inter/Inter-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: 'Inter';
  src: url(../assets/fonts/Inter/Inter-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: 'Inter';
  src: url(../assets/fonts/Inter/Inter-ExtraBold.ttf);
  font-weight: 800;
}
@font-face {
  font-family: 'Inter';
  src: url(../assets/fonts/Inter/Inter-Black.ttf);
  font-weight: 900;
}

/*-------------------------------------
      Importação da fonte Poppins
  */

@font-face {
  font-family: 'Poppins';
  src: url(../assets/fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: 'Poppins';
  src: url(../assets/fonts/Poppins/Poppins-Thin.ttf);
  font-weight: 100;
}
@font-face {
  font-family: 'Poppins';
  src: url(../assets/fonts/Poppins/Poppins-ExtraLight.ttf);
  font-weight: 200;
}
@font-face {
  font-family: 'Poppins';
  src: url(../assets/fonts/Poppins/Poppins-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: 'Poppins';
  src: url(../assets/fonts/Poppins/Poppins-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: 'Poppins';
  src: url(../assets/fonts/Poppins/Poppins-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: 'Poppins';
  src: url(../assets/fonts/Poppins/Poppins-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: 'Poppins';
  src: url(../assets/fonts/Poppins/Poppins-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: 'Poppins';
  src: url(../assets/fonts/Poppins/Poppins-ExtraBold.ttf);
  font-weight: 800;
}
@font-face {
  font-family: 'Poppins';
  src: url(../assets/fonts/Poppins/Poppins-Black.ttf);
  font-weight: 900;
}

/*-----------------------------------------------------------------
    Estilo base
*/

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

* {
  font-family: 'Inter';
  font-size: 24px;
  color: #0a093d;
}
